.allergy_card_container {
  max-width: 1248px;
  margin: 24px auto;
  font-family: "Dominos secondary", Helvetica, Arial, sans-serif;
  color: #393336;
  border-bottom: 0.0714285714rem solid var(--border-default);
  padding: 1.1428571429rem;
}

.allergy_content_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.allergy_content_btn span {
  display: flex;
  align-items: center;
  column-gap: 0.5714285714rem;
  font-weight: bold;
}

.allergy_content_btn svg {
  height: 1.7142857143rem;
  width: 1.7142857143rem;
  fill: #005277;
}

.chevron {
  transition: transform 0.5s ease;
}

.chevron_down {
  transform: rotate(180deg);
}

.content {
  transition: max-height 0.7s ease-in-out;
  /*padding: 1.1428571429rem;*/
  max-height: 0;
  overflow: hidden;
}

.content_shown {
  max-height: 83px;
}

.allergy_card_container a {
  color: #006491;
  font-weight: bold;
}

.allergy_card_container a:hover {
  color: #005177;
}
