.menu_nav_bar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.4285714286rem;
}

.menu_nav_bar_link {
  text-decoration: none;
  color: #006491;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Dominos primary", "Impact", "Arial Narrow", Helvetica, Arial,
    sans-serif;
  padding: 0 2.8571428571rem;
  font-size: 1.7142857143rem;
}

.menu_nav_bar_link:hover {
  color: var(--text-secondary-red);
}
