.header {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  box-shadow: 0 8px 10px 1px rgba(57, 51, 54, 0.14),
    0 3px 14px 2px rgba(57, 51, 54, 0.12), 0 5px 5px -3px rgba(57, 51, 54, 0.2);
}

.logo {
  color: inherit;
  width: 235.953px;
}

.nav {
  margin-top: 2rem;
  position: absolute;
  right: 0;
  top: 0;
}

.ul {
  display: flex;
  list-style: none;
}

.a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
}

.a:hover {
  color: #006491;
}

.ul li:nth-child(2) a::before {
  content: "|";
  color: #fff;
  margin: 0 0.5714285714rem;
}

.section {
  height: 8.3571428571rem;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.nav2 {
  height: 5.7142857143rem;
  display: flex;
  justify-content: center;
  color: #545454;
}

.nav2 a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5714285714rem;
  font-family: "Dominos primary", "Impact", "Arial Narrow", Helvetica, Arial,
    sans-serif;
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 0.5714285714rem;
}

.nav2 a:hover {
  color: #e31837;
}

.nav2 a:active {
  color: #e31837;
}

.nav2 .underline {
  background-color: #006491;
  width: 150px;
  height: 0.1428571429rem;
  position: relative;
}

.nav2 .underline:after {
  display: block;
  border: 0.5714285714rem solid transparent;
  border-bottom-color: #006491;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  content: " ";
  position: absolute;
}

.nav2 .basket_div {
  background-color: #41a934;
  border-radius: 2.5rem;
  color: #fff;
}

.nav2 div a span {
  background-color: #006491;
  color: white;
}

.nav2 div a span {
  min-height: 1.7142857143rem;
  min-width: 1.7142857143rem;
  fill: white;
}
