.base_footer_container {
  display: flex;
  justify-content: space-around;
  background-color: #006491;
  text-transform: uppercase;
  color: var(--primary-white);
  font-family: "Dominos primary", "Impact", "Arial Narrow", Helvetica, Arial,
    sans-serif;
  padding: 0 0 3.4285714286rem;
}

.base_footer_container > nav {
  display: flex;
  flex-direction: column;
}

.base_footer_container nav a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  padding-bottom: 1.1428571429rem;
}

.base_footer_container nav a svg {
  width: 1.7142857143rem;
  height: 1.7142857143rem;
  fill: var(--primary-white);
}

.base_footer_container nav h2 {
  padding: 3.4285714286rem 0 2.5714285714rem;
  user-select: none;
}

.socials_container {
  display: flex;
  align-items: center;
}

.socials_container .socials_link svg {
  width: 2.5714285714rem;
  height: 2.5714285714rem;
}

.logo {
  fill: red;
}
