* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-white: #fff;
  --text-secondary-red: #e31837;
  --border-default: #ccc;
  --text-primary: #393336;
  --text-secondary: #545454;
  --text-brand-red: #e31837;
  --text-hyperlink-default: #006491;
  --button-surface-primary: #41a934;
}

html {
  font-size: 14px;
}
